.title{
  display: flex;
  justify-content: center;
  align-items: center;  
  margin-top: 0px;
  font-size: 100px;
  font-family: 'Courier New', Courier, monospace;
}
.subTitle{
  margin-top: 250px;
  display: flex;
  justify-content: center;
  align-items: center;  
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
}
.getStartedBtn{
  border-radius: 7%;
  font-weight: 500;
  color: black;
  background: white;
  padding: 9px;
  margin-top: 60px;
  margin-left: 667px;
  display: flex;
  justify-content: center;
  align-items: center;  
  font-size: 30px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}